@model  List<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Api</title>
    @foreach (var ticket in @Model)
    {
        <h1>@ticket.userName</h1>   
        
        
    }

    </head>
<body>
</body>
</html>
