@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center p-5">

    <h1 class="display-4 m-4">Welcome</h1>
    <marquee direction=right >
        <img src="~/tema/images/nft-cat.png" class="p-5">
    </marquee>
    <p class="m-lg-5">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
