
@{
    ViewData["Title"] = "Portfolio";
}



<h1 class="mb-5">Portfolio</h1>

<h2 class="m-5">Ayşe'nin Ürünleri</h2>


<div class="row justify-content-center align-items-center">
    <div class="card text-white bg-danger m-5" style="max-width: 18rem;">
        <div class="card-header">
            Ürün Adı: tweet 2
        </div>
        <div class="card-body">
            <h5 class="card-title">BlockKey : c2l2kjb65ljk454</h5>
            <p class="card-text">Buyer Key : a3l2kjb65ljk453</p>
            <p class="card-text">Seller Key : a3l2kjb65ljk454</p>
            <p class="card-text">İşlem Tarihi : 1.01.0001 00:00:00</p>
        </div>
        <button type="button" class="btn btn-light">Markete Ekle</button>

    </div>
    <div class="card text-white bg-danger m-5" style="max-width: 18rem;">
        <div class="card-header">
            Ürün Adı: tweet 3

        </div>
        <div class="card-body">
            <h5 class="card-title">BlockKey : d2l2kjb65ljk454</h5>
            <p class="card-text">Buyer Key : a3l2kjb65ljk454</p>
            <p class="card-text">Seller Key : a3l2kjb65ljk455</p>
            <p class="card-text">İşlem Tarihi : 1.01.0001 00:00:00</p>
        </div>
        <button type="button" class="btn btn-light">Markete Ekle</button>
    </div>
</div>

